<div [class]="{
  status: true,
  'status-online': currentStatus === ServerStatus.Online,
  'status-offline': currentStatus === ServerStatus.Offline,
  'status-unknown': currentStatus === ServerStatus.Unknown
}">
  @if (currentStatus === ServerStatus.Online) {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
  } @else if (currentStatus === ServerStatus.Offline) {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
  } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
  }
</div>
